<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body style="background: url('/wp2054297.jpg')  50% 50% no-repeat">

<div>
<div th:replace="templates :: header_menu"></div>
    <h1 style="color: white;
    text-align: center;">Регистрация</h1>
    <span th:text="${error != null} ? ${error} : ''">someValue</span>
    <form action="/signup" th:object="${user}" method="POST" enctype="utf8" style="    width: 30%;
    margin: auto;
    color: white;">
        Логин: <div  style="margin-bottom: 5px;"><input th:field="*{name}" class="form-control"/>
    </div>
        Пароль: <div  style="margin-bottom: 5px;"><input type="password" th:field="*{password}" class="form-control"/>
    </div>
        Повторите пароль: <div style="margin-bottom: 5px;"><input type="password" name="matchingPassword" class="form-control"/>
    </div>
        Email: <div style="margin-bottom: 5px;"><input type="email" th:field="*{email}" class="form-control"/>
    </div>
        Изображение: <div style="margin-bottom: 5px;"><input type="text" th:field="*{image}" class="form-control"/>
    </div>
        <button style="margin-top: 10px;" type="submit" class="btn btn-info">Отправить</button>
    </form>
</div>

</body>
</html>