<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:fragment="header_menu">
    <div sec:authorize="isAuthenticated()" class="remove-filter pull-left">
    <button type="submit" onclick="location.href = '/logout'">Log out</button><br>
        User Name :<span class="badge badge-pill badge-primary" th:text="${user.login}"></span> <br/>
        Balance :<span class="badge badge-pill badge-primary" th:text="${user.balance}"></span> <br/>
        Email :<span class="badge badge-pill badge-primary" th:text="${user.email}"></span> <br/>
        <ol class="breadcrumb">
            <li><a href="/crash">Home</a></li>
            <li><a href="/crash/history/1">History</a></li>
            <li><a href="/user/history/1">My history</a></li>
        </ol>
</div>
    <div sec:authorize="!isAuthenticated()" class="remove-filter pull-left">
        <button type="submit" onclick="location.href = '/login'">Log in</button><br>
        <ol class="breadcrumb">
            <li><a href="/crash">Home</a></li>
            <li><a href="/crash/history/1">History</a></li>
        </ol>
    </div>
</div>

<div th:fragment="history" id="history">
    <h1>Game list</h1>

    <table class="table table-striped">
        <tr>
            <th>Game</th>
            <th>Hash</th>
            <th>Date</th>
        </tr>
        <tr th:each="game : ${games}">
            <td><a th:href="${'/crash/games/' + game.id}" th:text="${game.id}"></a></td>
            <td th:text="${game.hash}"></td>
            <td th:text="${game.date}"></td>
        </tr>
    </table>
    <div class="hrefs">
        <th th:each="n : ${#numbers.sequence(1,pagesCount)}">
            <a th:href="${n}" th:text="${n}">


            </a>
        </th>
    </div>

</div>


<div th:fragment="game" id="game">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Crash Game</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
    <div>
        Bet : <input type="text" name="bet" id="mybet" class="form-control"/> <br/><br/>
        Multiplier : <input type="text" name="multiplier" id="myMultiplier" class="form-control"/> <br/><br/>
        <button class="btn btn-primary" onclick="bet()">Bet</button>
    </div>

    <div id="notification" hidden style="width: 200px; height: 100px; background-color: cornflowerblue; color: chartreuse; text-align: center; ">

    </div>
    <script type="application/javascript">

        function bet() {

            var bet = document.getElementById("mybet").value;
            var multiplier = document.getElementById("myMultiplier").value;

            var data = {bet: bet, multiplier: multiplier};
            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : window.location+"/bet",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function() {
                    console.log("SUCCESS");
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        };
    </script>
</div>

</body>
</html>