<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: darkgray">
    <div class="container">
        <div class="col-md-12 text-center">
            <div>
                <h1><button type="button"  onclick="location.href='crash'" class="btn btn-danger btn-lg bg-danger">Crash Game</button></h1>
            </div>
        </div>
    </div>
</body>
</html>